/* 

.navbar{              
.container{

    padding:10px 0px;
       display:flex;
    

.logo{

     }

     .links{

     
        display:flex;
    
        gap:10px;
        }
}
} */